<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Tracker</title>
  </head>

  <body>
    <h1>Account Management</h1>

    <p>Username: {{ . }}</p>

    <br />

    <a href="/edituser/">Edit Username</a>
    <br />
    <a href="/deleteuser/">Delete User</a>
    <br />
    <a href="/friends/">Back to Friends Menu</a>
    <br />
    <a href="/logout/">Log Out</a>
  </body>
</html>
