<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Tracker</title>
  </head>

  <body>
    <h1>Add Group</h1>

    <form method="post">
      <p>Group Name</p>
      <input type="text" name="group" placeholder="Group Name" /><br />

      <br />

      <input type="submit" />
    </form>

    <br />

    <a href="/friends/">Back</a>
  </body>
</html>
