<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Tracker</title>
  </head>

  <body>
    <h1>Delete Group</h1>

    <form method="post">
      <p>Which group would you like to delete?</p>
      {{ range . }}
        <input type="radio" id="{{ . }}" name="group" value="{{ . }}" />
        <label for="{{ . }}">{{ . }}</label><br />
      {{ end }}


      <br />

      <input type="submit" />
    </form>

    <br />

    <a href="/friends/">Back</a>
  </body>
</html>
